canvas {
    border: 1px solid black;
    display: block;
    margin: 30px auto;
}

button {
    display: block;
    margin: 20px auto;
    align-items: center;
    color: red;
    background-color: black;
}